{% extends "base.html" %}

{% block title %}
    ChangePassowrd
{% endblock %}

{% block content %}
    <div class="content">
        <div class="welcome">
            <div class="container">
                {% for e in error %}
                    <p style="color:red;">{{e}}</p>
                {% endfor %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="确认修改"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
